Repository cloud-native-toolkit/ibm-garage-iteration-zero, pull requests merged in 2020-10, with the labels that each got.

#193 remove unused tekton namespace
  terraform/stages-ocp4/stage2-tekton.tf
  terraform/stages/stage2-tekton.tf
Labels: enhancement, patch

#196 update create-pr gh action to use personal token
  .github/workflows/create-pr.yaml
Labels: skip ci

#197 Changes by create-pull-request action
  terraform/stages-ocp4/stage2-pactbroker.tf
  terraform/stages/stage2-pactbroker.tf
Labels: automerge, chore, patch

#198 add automerge gh action
  .github/workflows/automerge.yaml
Labels: skip ci

#199 Changes by create-pull-request action
  terraform/stages-ocp4/stage1-cluster.tf
Labels: automerge, chore, patch

#200 Changes by create-pull-request action
  terraform/stages-ocp4/stage2-tekton.tf
  terraform/stages/stage2-tekton.tf
Labels: automerge, chore, patch

#201 Changes by create-pull-request action
  terraform/stages-ocp4/stage2-tekton.tf
  terraform/stages/stage2-tekton.tf
Labels: automerge, chore, patch

#202 Changes by create-pull-request action
  terraform/stages-ocp4/stage2-tekton.tf
  terraform/stages/stage2-tekton.tf
Labels: automerge, chore, patch

#203 Changes by create-pull-request action
  terraform/stages-ocp4/stage2-tekton.tf
  terraform/stages/stage2-tekton.tf
Labels: automerge, chore, patch

#204 Changes by create-pull-request action
  terraform/stages-ocp4/stage2-tekton.tf
  terraform/stages/stage2-tekton.tf
Labels: automerge, chore, patch

#205 Changes by create-pull-request action
  terraform/stages/stage1-cluster.tf
Labels: automerge, chore, patch

#206 add installer job yaml
  .github/workflows/publish-assets.yaml
  install/install-ibm-toolkit.yaml
Labels: automerge, feature, patch
