Repository cloud-native-toolkit/ibm-garage-iteration-zero, pull requests merged in 2020-11, with the labels that each got.

#211 Updates the workflow to print the jq version
  .github/workflows/publish-assets.yaml
Labels: chore, patch

#213 Updates sre-tile setup to copy files from src dir
  .tile/tiles/sre-tools/build.sh
Labels: chore, patch

#214 Updates tile readme and offering names
  .tile/README.md
  .tile/tiles/cloudnative-toolkit-all-in-one/offering.json
  .tile/tiles/cloudnative-toolkit/offering.json
  .tile/tiles/cluster-classic/offering.json
  .tile/tiles/cluster-vpc/offering.json
  .tile/tiles/sre-tools/offering.json
Labels: chore, patch

#215 Adds all of the tiles to the offering list
  .github/workflows/publish-assets.yaml
Labels: chore, patch

#216 Fixes options definition for tiles
  .tile/tiles/cloudnative-toolkit-all-in-one/offering.json
  .tile/tiles/cloudnative-toolkit/offering.json
  .tile/tiles/cluster-classic/offering.json
  .tile/tiles/cluster-vpc/offering.json
  .tile/tiles/sre-tools/offering.json
Labels: chore, patch

#218 Adds provision_activity_tracker variable and updates object storage v…
  terraform/stages-sre/stage-activity-tracker.tf
  terraform/stages-sre/stage-object_storage.tf
  terraform/stages-sre/variables.tf
Labels: bug, patch

#219 Fixes git slug reference in tile build scripts
  .tile/tiles/cloudnative-toolkit-all-in-one/build.sh
  .tile/tiles/cloudnative-toolkit/build.sh
  .tile/tiles/cluster-classic/build.sh
  .tile/tiles/cluster-vpc/build.sh
Labels: bug, patch

#220 Updates tile offering configuration
  .tile/tiles/cloudnative-toolkit-all-in-one/offering.json
  .tile/tiles/cloudnative-toolkit/offering.json
  .tile/tiles/cluster-classic/offering.json
  .tile/tiles/cluster-vpc/offering.json
Labels: bug, patch

#221 Create catalog ocp4
  install/install-ibm-toolkit.yaml
  terraform/stages-ocp4/catalog/stage2-jaeger.tf
  terraform/stages-ocp4/stage2-jenkins.tf
  terraform/stages-ocp4/stage2-pipelines.tf
  terraform/stages-ocp4/stage2-swagger-editor.tf
  test/stages/terraform.tfvars
  test/stages/variables.tf
Labels: automerge, enhancement

#223 add elapse time for install
  install/install-ibm-toolkit.yaml
Labels: automerge, enhancement, patch

#224 fix print elapse time
  install/install-ibm-toolkit.yaml
Labels: patch

#222 Bumps ibm container-platform module to v1.18.0 and updates tile names
  .github/workflows/verify-pr.yaml
  .tile/tiles/cloudnative-toolkit-all-in-one/offering.json
  .tile/tiles/cloudnative-toolkit/offering.json
  .tile/tiles/cluster-classic/offering.json
  .tile/tiles/cluster-vpc/offering.json
  .tile/tiles/sre-tools/offering.json
  launch.sh
  terraform/settings/environment-ibmcloud.tfvars
  terraform/stages-cluster/stage1-cluster.tf
  terraform/stages-ocp4/stage2-artifactory.tf
  terraform/stages-ocp4/stage2-dashboard.tf
  terraform/stages-ocp4/stage2-image-registry.tf
  terraform/stages-ocp4/stage2-pipelines.tf
  terraform/stages-ocp4/stage2-sourcecontrol.tf
  terraform/stages-ocp4/stage2-swagger-editor.tf
  terraform/stages/stage1-cluster.tf
  terraform/stages/stage2-artifactory.tf
  terraform/stages/stage2-dashboard.tf
  terraform/stages/stage2-image-registry.tf
  terraform/stages/stage2-sourcecontrol.tf
  terraform/stages/stage2-swagger.tf
  terraform/stages/stage2-tekton.tf
  terraform/stages/stage3-activity-tracker.tf
  terraform/stages/variables.tf
Labels: chore, patch

#217 Changes by create-pull-request action
  terraform/stages-ocp4/stage2-pipelines.tf
  terraform/stages/stage2-tekton.tf
Labels: automerge, chore, patch

#225 Changes by create-pull-request action
  terraform/stages-ocp4/stage2-pipelines.tf
  terraform/stages/stage2-tekton.tf
Labels: automerge, chore, patch
