Repository cloud-native-toolkit/ibm-garage-iteration-zero, pull requests merged in 2020-12, with the labels that each got.

#226 Changes by create-pull-request action
  terraform/stages-ocp4/stage2-artifactory.tf
  terraform/stages-ocp4/stage2-dashboard.tf
  terraform/stages-ocp4/stage2-image-registry.tf
  terraform/stages-ocp4/stage2-sourcecontrol.tf
  terraform/stages-sre/stage-logdna.tf
  terraform/stages-sre/stage-sysdig.tf
  terraform/stages/stage2-artifactory.tf
  terraform/stages/stage2-dashboard.tf
  terraform/stages/stage2-image-registry.tf
  terraform/stages/stage2-sourcecontrol.tf
  terraform/stages/stage3-logdna.tf
  terraform/stages/stage3-sysdig.tf
Labels: automerge, chore, patch

#228 add option of storage class for artifactory
  terraform/stages-ocp4/stage2-artifactory.tf
  terraform/stages-ocp4/variables.tf
  terraform/stages/stage2-artifactory.tf
  terraform/stages/variables.tf
Labels: enhancement, minor

#229 Changes by create-pull-request action
  terraform/stages-cluster/stage1-cluster.tf
  terraform/stages-ocp4/stage2-argocd.tf
  terraform/stages-ocp4/stage2-dashboard.tf
  terraform/stages-ocp4/stage2-image-registry.tf
  terraform/stages-ocp4/stage2-pactbroker.tf
  terraform/stages-ocp4/stage2-pipelines.tf
  terraform/stages-ocp4/stage2-sonarqube.tf
  terraform/stages-ocp4/stage2-swagger-editor.tf
  terraform/stages/stage1-cluster.tf
  terraform/stages/stage2-argocd.tf
  terraform/stages/stage2-dashboard.tf
  terraform/stages/stage2-image-registry.tf
  terraform/stages/stage2-jenkins.tf
  terraform/stages/stage2-pactbroker.tf
  terraform/stages/stage2-pipelines.tf
  terraform/stages/stage2-sonarqube.tf
  terraform/stages/stage2-swagger.tf
  test/stages/terraform.tfvars
Labels: automerge, feature, minor

#230 Adds new dispatch workflow to create a PR for an individual module
  .github/scripts/update-modules.sh
  .github/workflows/create-pr2.yaml
Labels: chore, patch

#232 Merges the pr creation process logic to PR per repo
  .github/workflows/create-pr.yaml
  .github/workflows/create-pr2.yaml
Labels: chore, patch

#234 Updates workflow to add automerge label after verify succeeds
  .github/labeler.yml
  .github/workflows/create-pr.yaml
  .github/workflows/verify-pr.yaml
Labels: chore, patch, skip ci

#235 Adds config for label job to wait for verify job
  .github/workflows/verify-pr.yaml
Labels: automerge, patch, skip ci

#233 Updates ibm-garage-cloud/terraform-ibm-container-platform module to v1.19.1
  terraform/stages-cluster/stage1-cluster.tf
  terraform/stages/stage1-cluster.tf
Labels: automerge, bug, minor

#236 Updates ibm-garage-cloud/terraform-tools-tekton-resources module to v2.2.1
  terraform/stages-ocp4/stage2-pipelines.tf
  terraform/stages/stage2-pipelines.tf
Labels: automerge, bug, minor

#237 Updates ibm-garage-cloud/terraform-tools-tekton-resources module to v2.2.2
  terraform/stages-ocp4/stage2-pipelines.tf
  terraform/stages/stage2-pipelines.tf
Labels: automerge, bug, minor

#238 Updates ibm-garage-cloud/terraform-tools-tekton-resources module to v2.2.3
  terraform/stages-ocp4/stage2-pipelines.tf
  terraform/stages/stage2-pipelines.tf
Labels: automerge, bug, minor

#239 Updates changelog message
  .github/release-drafter-beta.yaml
  .github/release-drafter.yaml
Labels: chore, patch

#241 Updates ibm-garage-cloud/terraform-tools-tekton-resources module to v2.2.4
  terraform/stages-ocp4/stage2-pipelines.tf
  terraform/stages/stage2-pipelines.tf
Labels: automerge, bug, minor

#243 fix machine flavor
  .tile/tiles/cluster-classic/offering.json
  .tile/tiles/cluster-vpc/offering.json
Labels: bug, minor

#244 Updates ibm-garage-cloud/terraform-ibm-image-registry module to v1.3.0
  terraform/stages-ocp4/stage2-image-registry.tf
  terraform/stages/stage2-image-registry.tf
Labels: automerge, feature, minor

#245 Updates ibm-garage-cloud/terraform-tools-tekton-resources module to v2.2.5
  terraform/stages-ocp4/stage2-pipelines.tf
  terraform/stages/stage2-pipelines.tf
Labels: automerge, bug, minor

#246 Updates ibm-garage-cloud/terraform-tools-tekton module to v2.1.0
  terraform/stages-ocp4/stage2-pipelines.tf
  terraform/stages/stage2-pipelines.tf
Labels: automerge, feature, minor

#247 Updates ibm-garage-cloud/terraform-ibm-image-registry module to v1.3.1
  terraform/stages-ocp4/stage2-image-registry.tf
  terraform/stages/stage2-image-registry.tf
Labels: automerge, bug, minor

#248 Updates ibm-garage-cloud/terraform-ibm-image-registry module to v1.3.2
  terraform/stages-ocp4/stage2-image-registry.tf
  terraform/stages/stage2-image-registry.tf
Labels: automerge, bug, minor
