Repository cloud-native-toolkit/ibm-garage-iteration-zero, pull requests merged in 2020-07, with the labels that each got.

#99 Update tools menu
  terraform/scripts/tools.yaml
Labels: feature, minor, skip ci

#97 Updates file read handling to use ls instead of find
  .github/scripts/update-modules.sh
  docs/VLAN.md
  terraform/scripts/destroy.sh
  terraform/scripts/ibmcloud-cluster
  terraform/scripts/ibmcloud-login
  terraform/settings/environment.tfvars
  terraform/stages-crc/stage1-cluster.tf
  terraform/stages-crc/variables.tf
  terraform/stages/catalog/stage1-cloud_operator.tf
  terraform/stages/catalog/stage3-postgres.tf
  terraform/stages/stage1-cluster.tf
  terraform/stages/stage2-pactbroker.tf
  terraform/stages/stage3-logdna.tf
  terraform/stages/stage3-sysdig.tf
  terraform/stages/variables.tf
Labels: bug, minor

#101 Pipeline updates
  .github/workflows/notify.yaml
  .github/workflows/release.yaml
  .github/workflows/verify-pr.yaml
Labels: enhancement, minor

#104 Pipeline fixes
  .github/workflows/notify.yaml
  .github/workflows/verify-pr.yaml
Labels: bug, patch

#105 Adds pipeline logic to build the tile assets
  .github/workflows/release.yaml
  .github/workflows/verify-pr.yaml
  .gitignore
  .tile/docs/README.md
  .tile/scripts/build.sh
  .tile/scripts/master.json
  .tile/scripts/master.sh
  terraform/runTerraform.sh
  terraform/scripts-workspace/apply.sh
  terraform/scripts-workspace/destroy.sh
Labels: feature, minor, skip ci

#106 Changes mime-type for shell script
  .github/workflows/release.yaml
Labels: bug, minor, skip ci

#107 Fixes broken path to master.sh script
  .github/workflows/release.yaml
Labels: bug, minor, skip ci

#108 Fixes README.md filename reference
  .tile/scripts/build.sh
Labels: bug, minor, skip ci

#109 Moves asset upload logic to after release is published
  .github/workflows/notify.yaml
  .github/workflows/publish-assets.yaml
  .github/workflows/release.yaml
Labels: chore, minor, skip ci

#110 Fix bugs in tile configuration,
  .tile/docs/README.md
  .tile/scripts/master.json
  .tile/scripts/master.sh
  README.md
  docs/images/catalyst-provisioned-environment.drawio
  docs/images/catalyst-provisioned-environment.png
Labels: bug, patch, skip ci

#111 Updates update-modules.sh
  .github/scripts/update-modules.sh
Labels: bug, patch, skip ci

#112 Updates process for generating tile assets
  .tile/scripts/build.sh
  .tile/scripts/master.json
  .tile/scripts/master.sh
Labels: bug, patch, skip ci

#113 Updates the tile build process
  .tile/docs/README.md
  .tile/scripts/build.sh
  .tile/scripts/master.json
Labels: bug, patch, skip ci

#114 Updates README.md
  .tile/docs/README.md
  README.md
Labels: chore, patch, skip ci

#115 Remove in-place sed command
  .github/scripts/update-modules.sh
Labels: bug, patch, skip ci

#117 Adds workflow to send slack notification on release publish
  .github/workflows/notify-slack.yaml
Labels: chore, skip ci

#118 Sets MSG_MINIMAL on slack notification to remove noise
  .github/workflows/notify-slack.yaml
Labels: chore, patch, skip ci

#123 Bumps tekton module to v1.3.4
  terraform/stages/stage2-tekton.tf
Labels: bug, patch

#124 Bumps container-platform module to v1.11.3
  terraform/stages/stage1-cluster.tf
Labels: bug, patch

#125 Bumps dashboard module to v1.4.1
  terraform/stages/stage2-dashboard.tf
Labels: chore, patch

#126 Bumps swaggereditor module to v1.3.1
  terraform/stages/stage2-swagger.tf
Labels: chore, patch, skip ci

#127 Bumps sonarqube module to v1.5.3
  terraform/stages/stage2-sonarqube.tf
Labels: bug, patch, skip ci

#128 Bumps artifactory module to v1.5.0
  terraform/stages/stage2-artifactory.tf
Labels: chore, patch, skip ci

#119 OpenShift 4.4 vpc validation
  .github/workflows/notify-slack.yaml
  .github/workflows/verify-pr.yaml
Labels: chore, minor, skip ci

#132 Bumps sonarqube module to v1.6.0
  terraform/stages/stage2-sonarqube.tf
Labels: feature, minor, skip ci

#133 Bumps tekton module to v1.4.3
  terraform/stages/stage2-tekton.tf
Labels: bug, minor, skip ci

#134 Bumps tekton-resources module to v1.2.1
  terraform/stages/stage2-tekton.tf
Labels: chore, minor, skip ci

#136 Reverts sonarqube module to v1.5.3 to fix issue
  terraform/stages/stage2-sonarqube.tf
Labels: bug, patch, skip ci

#138 Bumps tekton-resources to v1.2.2
  terraform/stages/stage2-tekton.tf
Labels: bug, patch, skip ci

#141 Bumps tekton to v1.4.4 to pick up wait for crd logic
  terraform/stages/stage2-tekton.tf
Labels: bug, patch

#143 Reverts sonarqube to v1.5.3 to fix issue
  terraform/stages/stage2-sonarqube.tf
Labels: bug, patch

#144 Adds logdna and sysdig to the tile and updates tile variables
  .tile/scripts/build.sh
  .tile/scripts/master.json
Labels: feature, patch

#146 Console link update
  terraform/stages/stage1-cluster.tf
  terraform/stages/stage2-artifactory.tf
  terraform/stages/stage2-dashboard.tf
  terraform/stages/stage2-sonarqube.tf
  terraform/stages/stage3-logdna.tf
  terraform/stages/stage3-sysdig.tf
Labels: bug, patch

#147 Fixes dashboard and pipeline issues
  terraform/stages/catalog/stage2-jaeger.tf
  terraform/stages/stage2-dashboard.tf
Labels: feature, minor, skip ci

#148 Bumps sonarqube module to v1.8.0 to fix plugins
  terraform/stages/stage2-sonarqube.tf
Labels: bug, patch

#149 Updates for LogDNA and Sysdig
  .tile/scripts/master.json
  terraform/settings/environment.tfvars
  terraform/stages/variables.tf
Labels: chore, patch

#152 RBAC script updates
  terraform/scripts/add-user.sh
  terraform/scripts/rbac-roles.yaml
Labels: feature, patch

#150 Set Manager role for LogDNA
  terraform/scripts/acp-user.sh
Labels: bug, patch
