Repository cloud-native-toolkit/ibm-garage-iteration-zero, pull requests merged in 2021-06, with the labels that each got.

#332 Updates cloud-native-toolkit/terraform-tools-argocd module to v2.12.0
  terraform/stages-ocp4/stage2-argocd.tf
  terraform/stages/stage2-argocd.tf
Labels: automerge, feature, minor

#333 Updates cloud-native-toolkit/terraform-tools-argocd module to v2.12.1
  terraform/stages-ocp4/stage2-argocd.tf
  terraform/stages/stage2-argocd.tf
Labels: automerge, bug, minor

#334 Updates cloud-native-toolkit/terraform-ibm-object-storage module to v3.3.0
  terraform/stages-sre/stage-object_storage.tf
Labels: automerge, feature, minor

#335 Updates cloud-native-toolkit/terraform-ibm-object-storage module to v3.3.2
  terraform/stages-sre/stage-object_storage.tf
Labels: automerge, bug, minor

#336 Updates cloud-native-toolkit/terraform-tools-argocd module to v2.13.0
  terraform/stages-ocp4/stage2-argocd.tf
  terraform/stages/stage2-argocd.tf
Labels: automerge, feature, minor

#331 Updates cloud-native-toolkit/terraform-k8s-namespace module to v2.8.1
  terraform/stages-ocp4/stage1-namespaces.tf
  terraform/stages/stage1-namespaces.tf
Labels: automerge, bug, feature, minor

#337 Updates cloud-native-toolkit/terraform-tools-argocd module to v2.13.1
  terraform/stages-ocp4/stage2-argocd.tf
  terraform/stages/stage2-argocd.tf
Labels: automerge, bug, minor

#338 Updates cloud-native-toolkit/terraform-k8s-olm module to v1.3.1
  terraform/stages-ocp4/stage1-olm.tf
  terraform/stages/stage1-olm.tf
Labels: automerge, bug, minor

#339 Updates cloud-native-toolkit/terraform-tools-tekton module to v2.2.0
  terraform/stages-ocp4/stage2-pipelines.tf
  terraform/stages/stage2-pipelines.tf
Labels: automerge, feature, minor

#340 Updates cloud-native-toolkit/terraform-tools-argocd module to v2.14.0
  terraform/stages-ocp4/stage2-argocd.tf
  terraform/stages/stage2-argocd.tf
Labels: automerge, feature, minor

#341 Updates cloud-native-toolkit/terraform-tools-tekton module to v2.2.1
  terraform/stages-ocp4/stage2-pipelines.tf
  terraform/stages/stage2-pipelines.tf
Labels: automerge, bug, minor

#342 Replaces argocd and tekton modules with openshift-cicd
  terraform/stages-ocp4/stage2-cicd.tf
  terraform/stages-ocp4/stage2-pipelines.tf
  terraform/stages/stage2-cicd.tf
  terraform/stages/stage2-pipelines.tf
Labels: automerge, enhancement, minor

#343 Updates cloud-native-toolkit/terraform-tools-openshift-cicd module to v1.1.0
  terraform/stages-ocp4/stage2-cicd.tf
  terraform/stages/stage2-cicd.tf
Labels: automerge, feature, minor

#344 Updates cloud-native-toolkit/terraform-ibm-access-group module to v2.3.0
  terraform/stages-access-group/stage-access-group.tf
Labels: automerge, feature, minor

#345 Updates cloud-native-toolkit/terraform-tools-openshift-cicd module to v1.2.0
  terraform/stages-ocp4/stage2-cicd.tf
  terraform/stages/stage2-cicd.tf
Labels: automerge, feature, minor

#346 Updates cloud-native-toolkit/terraform-tools-openshift-cicd module to v1.2.1
  terraform/stages-ocp4/stage2-cicd.tf
  terraform/stages/stage2-cicd.tf
Labels: automerge, bug, minor

#347 Updates cloud-native-toolkit/terraform-tools-openshift-cicd module to v1.2.2
  terraform/stages-ocp4/stage2-cicd.tf
  terraform/stages/stage2-cicd.tf
Labels: automerge, bug, minor

#348 Updates cloud-native-toolkit/terraform-tools-jenkins module to v1.4.4
  terraform/stages/stage2-jenkins.tf
Labels: automerge, bug, minor
