Repository cloud-native-toolkit/ibm-garage-iteration-zero, pull requests merged in 2021-11, with the labels that each got.

#372 Updates cloud-native-toolkit/terraform-tools-openshift-cicd module to v1.7.5
  terraform/stages-ocp4/stage2-cicd.tf
  terraform/stages/stage2-cicd.tf
Labels: bug, minor, automerge

#327 Updates cloud-native-toolkit/terraform-ibm-logdna module to v4.0.0
  terraform/stages-sre/stage-logdna.tf
Labels: bug, minor, feature, automerge

#328 Updates cloud-native-toolkit/terraform-ibm-sysdig module to v4.0.1
  terraform/stages-sre/stage-sysdig.tf
Labels: bug, minor, feature, automerge

#330 Updates cloud-native-toolkit/terraform-ibm-activity-tracker module to v2.4.0
  terraform/stages-sre/stage-activity-tracker.tf
Labels: minor, feature, automerge

#357 Updates cloud-native-toolkit/terraform-ibm-key-protect module to v2.3.0
  terraform/stages-sre/stage-key-protect.tf
Labels: bug, minor, feature, automerge

#359 Updates cloud-native-toolkit/terraform-ibm-resource-group module to v3.0.1
  terraform/stages-resource-group/stage-resource-group.tf
Labels: bug, minor, feature, automerge

#360 Updates cloud-native-toolkit/terraform-ibm-object-storage module to v4.0.0
  terraform/stages-sre/stage-object_storage.tf
Labels: bug, minor, feature, automerge

#361 Updates cloud-native-toolkit/terraform-k8s-ocp-cluster module to v2.4.5
  terraform/stages-ocp4/stage1-cluster.tf
Labels: bug, minor, automerge

#362 Updates cloud-native-toolkit/terraform-k8s-olm module to v1.3.2
  terraform/stages-ocp4/stage1-olm.tf
Labels: bug, minor, automerge

#374 Updates cloud-native-toolkit/terraform-k8s-source-control module to v1.3.1
  terraform/stages-ocp4/stage2-sourcecontrol.tf
  terraform/stages/stage2-sourcecontrol.tf
Labels: bug, minor, automerge

#375 Updates cloud-native-toolkit/terraform-tools-swaggereditor module to v1.5.1
  terraform/stages-ocp4/stage2-swagger-editor.tf
  terraform/stages/stage2-swagger.tf
Labels: bug, minor, automerge

#376 Updates cloud-native-toolkit/terraform-tools-pactbroker module to v1.5.1
  terraform/stages-ocp4/stage2-pactbroker.tf
  terraform/stages/stage2-pactbroker.tf
Labels: bug, minor, automerge

#377 Updates cloud-native-toolkit/terraform-tools-artifactory module to v1.12.2
  terraform/stages-ocp4/stage2-artifactory.tf
  terraform/stages/stage2-artifactory.tf
Labels: bug, minor, automerge

#378 Adds stages-ocp4 to test matrix
  .github/scripts/validate-deploy.sh
  .github/workflows/verify-pr.yaml
  terraform/stages-ocp4/stage1-cluster.tf
  terraform/stages-ocp4/stage2-image-registry.tf
  terraform/stages-ocp4/stage2-sonarqube.tf
  terraform/stages-ocp4/variables.tf
  terraform/stages/stage1-cluster.tf
Labels: bug, patch, automerge

#379 Updates cloud-native-toolkit/terraform-tools-sonarqube module to v1.10.0
  terraform/stages-ocp4/stage2-sonarqube.tf
  terraform/stages/stage2-sonarqube.tf
Labels: minor, feature, automerge

#380 Updates cloud-native-toolkit/terraform-ibm-image-registry module to v2.1.1
  terraform/stages-ocp4/stage2-image-registry.tf
  terraform/stages/stage2-image-registry.tf
Labels: bug, minor, automerge

#382 Updates cloud-native-toolkit/terraform-ibm-sysdig-bind module to v1.2.3
  terraform/stages/stage3-sysdig-bind.tf
Labels: bug, minor, automerge

#383 Updates cloud-native-toolkit/terraform-ibm-logdna-bind module to v1.2.2
  terraform/stages/stage3-logdna-bind.tf
Labels: bug, minor, automerge

#381 Updates cloud-native-toolkit/terraform-k8s-ocp-cluster module to v2.4.6
  terraform/stages-ocp4/stage1-cluster.tf
Labels: bug, minor, automerge

#384 Updates cloud-native-toolkit/terraform-tools-sonarqube module to v1.10.1
  terraform/stages-ocp4/stage2-sonarqube.tf
  terraform/stages/stage2-sonarqube.tf
Labels: bug, minor, automerge
