Repository cloud-native-toolkit/ibm-garage-iteration-zero, pull requests merged in 2021-03, with the labels that each got.

#302 Updates ibm-garage-cloud/terraform-ibm-container-platform module to v1.20.8
  terraform/stages-cluster/stage1-cluster.tf
  terraform/stages/stage1-cluster.tf
Labels: bug, minor

#304 Updates badge path in README
  README.md
Labels: chore, patch, skip ci

#305 Generates last run badge
  .github/workflows/verify-master.yaml
  README.md
Labels: automerge, chore, patch

#307 Updates ibm-garage-cloud/terraform-tools-tekton module to v2.1.2
  terraform/stages-ocp4/stage2-pipelines.tf
  terraform/stages/stage2-pipelines.tf
Labels: automerge, bug, minor

#308 Updates ibm-garage-cloud/terraform-ibm-key-protect module to v1.3.2
  terraform/stages-sre/stage-key-protect.tf
Labels: automerge, bug, minor

#309 Updates ibm-garage-cloud/terraform-ibm-object-storage module to v2.0.2
  terraform/stages-sre/stage-object_storage.tf
Labels: automerge, bug, minor
