Repository cloud-native-toolkit/ibm-garage-iteration-zero, pull requests merged in 2022-05, with the labels that each got.

#402 Version updates
  .github/workflows/verify-master.yaml
  .github/workflows/verify-pr.yaml
  terraform/stages-ocp4/stage1-cluster.tf
  terraform/stages-ocp4/stage1-namespaces.tf
  terraform/stages-ocp4/stage2-cicd.tf
  terraform/stages-ocp4/stage2-console-link-job.tf
  terraform/stages-ocp4/stage2-image-registry.tf
  terraform/stages-ocp4/stage2-pactbroker.tf
  terraform/stages-ocp4/stage2-sonarqube.tf
  terraform/stages/stage1-namespaces.tf
  terraform/stages/stage2-cicd.tf
Labels: automerge

#395 Updates cloud-native-toolkit/terraform-tools-openshift-cicd module to v1.10.1
  terraform/stages-ocp4/stage2-cicd.tf
  terraform/stages/stage2-cicd.tf
Labels: bug, minor, feature, automerge

#404 Updates cloud-native-toolkit/terraform-tools-openshift-cicd module to v1.10.2
  terraform/stages-ocp4/stage2-cicd.tf
  terraform/stages/stage2-cicd.tf
Labels: bug, minor, automerge

#392 Updates cloud-native-toolkit/terraform-ibm-image-registry module to v2.1.3
  terraform/stages-ocp4/stage2-image-registry.tf
  terraform/stages/stage2-image-registry.tf
Labels: bug, minor, automerge

#406 Updates cloud-native-toolkit/terraform-tools-openshift-cicd module to v1.10.4
  terraform/stages-ocp4/stage2-cicd.tf
  terraform/stages/stage2-cicd.tf
Labels: bug, minor, automerge

#398 Updates cloud-native-toolkit/terraform-k8s-namespace module to v3.2.3
  terraform/stages-ocp4/stage1-namespaces.tf
  terraform/stages/stage1-namespaces.tf
Labels: bug, minor, feature, automerge

#407 Updates cloud-native-toolkit/terraform-tools-openshift-cicd module to v1.11.0
  terraform/stages-ocp4/stage2-cicd.tf
  terraform/stages/stage2-cicd.tf
Labels: minor, feature, automerge

#408 Updates cloud-native-toolkit/terraform-tools-tekton-resources module to v2.3.2
  terraform/stages-ocp4/stage2-pipelines.tf
  terraform/stages/stage2-pipelines.tf
Labels: bug, minor, automerge
